[ req ]
prompt = no
default_bits = 4096
distinguished_name = req_distinguished_name
req_extensions = req_ext

[ req_distinguished_name ]
C=ZZ
ST=AState
L=ALocation
O=AnOrg
OU=AnOrgUnit
CN=dev.host.example.com

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = dev.host.example.com
DNS.2 = *.dev.host.example.com
DNS.3 = alt.host.example.com
DNS.4 = *.alt.host.example.com
